body{
     background: rgb(42, 224, 42);
     background-size: contain;
     background-repeat: no-repeat;
     background-position: center center;
     background-color: blueviolet;
}
.topo{
    /* background-color: rgb(177, 0, 0);*/
    height: 200px;
    padding: 30px;
    color: rgb(127, 50, 209);
.topo ul{ 
display: flex;
width: 100%;
justify-content: space-around;
background:

}
.topo li a{
text-decoration: none;
color: rgb(58, 236, 22);
padding: 10px;
display: flex;
}
.corpo{
    /*background: rgb(209, 0, 0);*/
    text-align: center;
}
.rodape{
    /*background: rgb(156, 0, 0);*/
    height: 150px;
    padding: 30px;
    color: rgb(57, 231, 72);
}
